<form style="margin-bottom: 32px">
  <mat-form-field appearance="outline">
    <mat-label>Nombre de la ciudad o CP</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput aria-label="Ciudad o CP" [formControl]="search" />
    <mat-hint>Por ejemplo 'Sevilla, ES'</mat-hint>
    <mat-error *ngIf="search.invalid">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
</form>
